
body {
    overflow: hidden;
}

.tops {
    display: block;
    content: "";
    height: 6px;
    background: -webkit-linear-gradient(left, #bc1d77 0%, #f546aa 12%, rgb(253, 170, 115) 47%, rgb(255, 128, 24) 100%);
}

.container .row .col .main-head {
    font-size: 46px;
    color: black;
    font-weight: 700;
}

.container .row .col .main-head span {
    font-size: 17px; color: rgb(255, 181, 90);
    font-weight: 500;
}

.container .row .col img {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.container .row .col form #option {
    -webkit-animation: actionx 2s infinite  alternate;
    animation: actionx 2s infinite  alternate;
}

@-webkit-keyframes actionx {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px); }
}

@keyframes actionx {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px); }
}

/* .container .row .col img:hover {
    animation-play-state: paused;
} */

.container .row .col form input {
    width: 70%;
    border-radius: 20px;
}

.container .row .col form .form-label {
    font-size: 19px; 
    font-weight: 600;
}

.container .row .col form .bi-eye-slash {
    font-size: 18px; 
    cursor: pointer;
}

.container .row .col form #option a{
    text-decoration: none; 
    color: rgb(255, 181, 90); 
    font-weight: 600;
}


form textarea,
input[type="text"],
input[type="textarea"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
  border-color: rgba(255, 181, 90, 0.8);
  outline: 0 none;
}

form textarea:focus,
input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 181, 90, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 181, 90, 0.6);
  outline: 0 none;
}

.container .row .col form button {
    border-radius: 30px; 
    background-color: rgb(255, 181, 90); 
    font-weight: bold;
    font-size: 20px;
}

.container .row .col form button:hover {
    background-color: rgb(255, 200, 132); 
}

.container .row .credits {
    margin-left: -80px; 
    border-radius: 20px; 
    background: -webkit-linear-gradient(left, #bc1d77 0%, #f546aa 12%, rgb(255, 128, 24) 100%);
}

.container .row .credits h5 {
    color: white; 
    font-size: 18px;
}

.rocket {
    overflow: hidden;
    position: absolute;
    bottom: -500px;
    right: 10%;
    width: 180px;
    animation: fly 10s .5s ease-in infinite;
}

@keyframes fly {
    0% {
        bottom: -500px;
    }

    100% {
        bottom: 100%;
    }
}

.offcanvas-bottom {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.offcanvas-bottom .offcanvas-header h3 {
    color: black;
}

.offcanvas-bottom .offcanvas-header h3 span {
    font-size: 15px; 
    color: orange;
}

.offcanvas-bottom .offcanvas-body .text-main{
    font-size: 19px; 
    color: rgb(111, 111, 111);    
}

.offcanvas-bottom .offcanvas-body .text-main span{
    font-weight: 500; 
    color: orange;
}

.offcanvas-bottom .offcanvas-body .tutor-head {
    font-size: 19px; 
    color: rgb(111, 111, 111);
}

.offcanvas-bottom .offcanvas-body .tutors {
    font-size: 16px;
    color: rgb(111, 111, 111);
}





@media (max-width:768px) {

    .container .row .col .main-head {
        font-size: 38px;
        color: black;
        font-weight: 700;
    }

    .container .row .col .main-head span {
        font-size: 17px; color: rgb(255, 181, 90);
        font-weight: 500;
    }

    .container .row .col form input {
        width: 80%;
        border-radius: 20px;
    }

            
    .container .row .credits {
        margin-left: -30px; 
        border-top-right-radius: 20px; 
        border-bottom-right-radius: 20px;
        background: -webkit-linear-gradient(left, #bc1d77 0%, #f546aa 12%, rgb(255, 128, 24) 100%);
    }

    .rocket {
        width: 110px;
        right: 10%;
    }


    .container .row .credits h5 {
        color: white; 
        font-size: 18px;
    }

    
    .offcanvas-bottom .offcanvas-header h3 {
        color: black;
    }
    
    .offcanvas-bottom .offcanvas-header h3 span {
        font-size: 15px; 
        color: orange;
    }
    
    .offcanvas-bottom .offcanvas-body .text-main{
        font-size: 19px; 
        color: rgb(111, 111, 111);    
    }
    
    .offcanvas-bottom .offcanvas-body .text-main span{
        font-weight: 500; 
        color: orange;
    }
    
    .offcanvas-bottom .offcanvas-body .tutor-head {
        font-size: 19px; 
        color: rgb(111, 111, 111);
    }
    
    .offcanvas-bottom .offcanvas-body .tutors {
        font-size: 16px;
        color: rgb(111, 111, 111);
    }

}



@media (max-width:450px) {

    body {
        overflow: auto;
    }

    .container .row .col .main-head {
        font-size: 38px;
        color: black;
        font-weight: 700;
    }

    .container .row .col .main-head span {
        font-size: 17px; color: rgb(255, 181, 90);
        font-weight: 500;
    }

    .container .row .col form input {
        width: 80%;
        border-radius: 20px;
    }

    .container .row .credits {
        margin-left: -30px; 
        border-top-right-radius: 20px; 
        border-bottom-right-radius: 20px;
        background: -webkit-linear-gradient(left, #bc1d77 0%, #f546aa 12%, rgb(255, 128, 24) 100%);
    }

    .container .row .credits h5 {
        color: white; 
        font-size: 18px;
    }


    .rocket {
        position: absolute;
        bottom: -110px;
        right: 6%;
        width: 100px;
        animation: fly 10s .5s ease-in infinite;
    }

    @keyframes fly {
        0% {
            bottom: -110px;
        }

        100% {
            bottom: 100%;
        }
    }


    .offcanvas-bottom .offcanvas-header h3 {
        color: black;
    }
    
    .offcanvas-bottom .offcanvas-header h3 span {
        font-size: 15px; 
        color: orange;
    }
    
    .offcanvas-bottom .offcanvas-body .text-main{
        font-size: 17px; 
        color: rgb(111, 111, 111);    
    }
    
    .offcanvas-bottom .offcanvas-body .text-main span{
        font-weight: 500; 
        color: orange;
    }
    
    .offcanvas-bottom .offcanvas-body .tutor-head {
        font-size: 18px; 
        color: rgb(111, 111, 111);
    }
    
    .offcanvas-bottom .offcanvas-body .tutors {
        font-size: 16px;
        color: rgb(111, 111, 111);
    }


}