    
    .tops {
        display: block;
        content: "";
        height: 6px;
        background: -webkit-linear-gradient(left, #bc1d77 0%, #f546aa 12%, rgb(253, 170, 115) 47%, rgb(255, 128, 24) 100%);
    }

    
    .container .row .col img {
        object-fit: cover;
        max-height: 430px; 
        min-height: 430px; 
        width: 100%;
        -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }

    @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }

    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }

    .container .row .col h2 {
        color: #bc1d77;
    }

    .back-btn .btn-back{
        background: black;
        color: white;
        transition: 0.3s ;
        text-decoration: none;
        border-radius: 20px;
        font-size: 17px;
    }

    .back-btn .btn-back:hover{
        background: rgb(255, 181, 90);
        color: rgb(255, 255, 255);
    }


    @media (max-width:768px) {
        
    .container .row .col img {
        object-fit: cover;
        max-height: 320px; 
        min-height: 320px; 
        width: 100%;
    }

    }


    @media (max-width:450px) {

    .container .row .col img {
        object-fit: cover;
        max-height: 270px; 
        min-height: 270px; 
        width: 100%;
    }

    }


    @media (max-width:394px) {

    .container .row .col img {
        object-fit: cover;
        max-height: 200px; 
        min-height: 200px; 
        width: 100%;
    }

    }